<div class="row">
  <div class="small-12 columns">
  <%= form_tag do %>
  <fieldset>
  <legend>Sign Up</legend>
  <label>Username
    <input type="text" placeholder="Username...">
  </label>
  <label>Password
    <input type="password" placeholder="Password...">
  </label>
  <input type="submit" class="button" value="Signup !">
  </fieldset>
    <% end %>
  </div>
</div>
