<li class="has-dropdown">
  <a href="#"><%= current_user.email %></a>
  <ul class="dropdown">

    <li><label>Profile</label></li>
    <li><a href="#">Profile</a></li>

    <li class="divider"></li>

    <li><label></label></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   </li>

  </ul>
</li>
