<li class="has-dropdown">
  <a href="#"><%= current_user.screen_name %></a>
  <ul class="dropdown">

    <li><label>Profile</label></li>
    <li><a href="#">Profile</a></li>

    <li class="divider"></li>

    <li><label></label></li>
    <li><%= link_to 'Logout', signout_path %></li>

  </ul>
</li>
